.custom-navbar {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 1rem;
    transition: background 0.3s ease-in-out;
  }

  .custom-navbar:hover {
    background: rgba(0, 0, 0, 0.9);
  }

  .navbar-brand {
    color: #FF5714;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease-in-out;
  }
  .nav-link.active {
    color: #FFD700;
}

.nav-link.active::after {
    background: #FFD700;
}


  .navbar-brand:hover {
    color: #FFD700;
  }

  .nav-link {
    color: #FF5714;
    font-weight: bold;
    margin: 0 0.5rem;
    position: relative;
    transition: color 0.3s ease-in-out;
  }

  .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FF5714;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -5px;
    left: 0;
  }

  .nav-link:hover {
    color: #FFD700;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .navbar-toggler {
    border: none;
    background: transparent;
  }

  .navbar-toggler-icon {
    width: 25px;
    height: 3px;
    background-color: #FF5714;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: #FF5714;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }

  .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler-icon::after {
    top: 8px;
  }

  .navbar-toggler:hover .navbar-toggler-icon {
    background-color: #FFD700;
  }

  .navbar-toggler:hover .navbar-toggler-icon::before,
  .navbar-toggler:hover .navbar-toggler-icon::after {
    background-color: #FFD700;
  }